<div id="<%= dom_id plan_team %>">
  <p>
    <strong>User:</strong>
    <%= plan_team.user_id %>
  </p>

  <p>
    <strong>Plans:</strong>
    <%= plan_team.plans_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= plan_team.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= plan_team.end_date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= plan_team.payment_method_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= plan_team.active %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= plan_team.value %>
  </p>

</div>
