<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= plan.title %>
  </p>

  <p>
    <strong>Month value:</strong>
    <%= plan.month_value %>
  </p>

  <p>
    <strong>Year value:</strong>
    <%= plan.year_value %>
  </p>

  <p>
    <strong>Recommend:</strong>
    <%= plan.recommend %>
  </p>

  <p>
    <strong>Month discount percentual:</strong>
    <%= plan.month_discount_percentual %>
  </p>

  <p>
    <strong>Year discount percentual:</strong>
    <%= plan.year_discount_percentual %>
  </p>

  <p>
    <strong>Year discount value:</strong>
    <%= plan.year_discount_value %>
  </p>

  <p>
    <strong>Month discount value:</strong>
    <%= plan.month_discount_value %>
  </p>

</div>
